@import "../../../styles/config.scss";
@import "../../../styles/colors.scss";

.cart-container {
	margin-top: 200px;
	.home-btn {
		margin-top: 20px;
	}

	.empty-cart-message {
		color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,Roboto,sans-serif;
		font-size: 1.25rem;
    font-weight: 400;
	}

	.empty-cart {
		transform: translateX(-10%);
		margin-bottom: 20px;
	}
}

.cart-page {
	height: 100%;
	width: 95%;
	background-color: $white-grey;
	.title {
		@media only screen and (max-width: $sm) {
			font-size: 3rem;
		}
		font-family: "Secular One", sans-serif;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin-top: 150px;
		width: 100%;
	}
	.table-container {
		width: 95%;
		.right-side {
			img {
				width: 15%;
				@media only screen and (max-width: $lg) {
					width: 30%;
				}
				@media only screen and (max-width: $sm) {
					width: 100%;
				}
			}
		}
		.left-side {
			.sum-container{
				display: flex;
				flex-direction: column;
				.row{
					padding: 0 16px 0;
					height: 56px;
					font-family: "Roboto", "Helvetica", "Arial", sans-serif;
					font-size: 0.875rem;
					color: rgba(0, 0, 0, 0.87);
					font-weight: 500;
    			line-height: 1.5rem;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					.search-location-input{
						width: 100%;
					}
				}
			}
			.order-btn {
				width: 100%;
				margin-top: 10px;
			}
		}
	}
}
.popover{
	display: flex;
	.popover-container{
		padding: 20px;
		height: 40vh;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
    justify-content: space-around;
		.check{
			font-size: 9rem;
			color: green;
		}
		.text{
			color: green;
		}
		.home-btn{
			color: black;
			width:80%;
			height: 15%;
		}
	}
}

.blurred {
	filter: blur(3px);
}

